<header> Fuction 1: Search to buy </header>
<br><br>

    <body> School </body>
        <select name="school">
            <option value="">McCormick</option>
            <option value="">Weinberg</option>
            <option value="">Bienen</option>
            <option value="">Sesp</option>
        </select>

        
    <body> Department </body>
        <select name="department">
            <option value="">EECS</option>
            <option value="">IEMS</option>
            <option value="">ES_APPM</option>
            <option value="">DSGN</option>
        </select>


    <body> Term </body>
        <select name="course">
            <option value="">Fall 2018</option>
            <option value="">Winter 2019</option>
            <option value="">Spring 2019</option>
            <option value="">Summer 2019</option>
        </select>

    <body> Courses </body>
        <select name="course">
            <option value="">320</option>
            <option value="">325</option>
            <option value="">201</option>
            <option value="">100</option>
        </select>

        <body> Section </body>
        <select name="course">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
        </select>
        

        

        <input type="Submit">

<br><br>
<div>
<h1>Introduction to HTML</h1>
<h3>Inventory</h3> <p>12 in stock</p>
<h3>Lowest Price</h3> <p>$51.00</p>
<h3>Your Listing Price</h3> <p>$51.00 - $1.00 = $50.00</p>
</div>

<br>
<input type= "button" onclick="window.location.href = 'list-1';" value = "List"/>



